/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../font/dm-sans-v17-latin-700.woff2") format("woff2");
}
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../font/inter-v20-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../font/inter-v20-latin-500.woff2") format("woff2");
}

:root {
  --color-dark: #000000;
  --color-blue: #010d3e;
  --color-white: #ffffff;
  --color-light: #eaeefe;
  --color-gradient-end: #d2dcff;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  display: inline-block;
  color: inherit;
}

p {
  margin: 0;
}

a,
button,
input,
textarea,
select,
svg {
  transition: all 0.2s ease;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
}

.bar__container {
  height: 46px;
  padding: 14px 16px;
  background-color: var(--color-dark);
}

.bar__title {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: "DM Sans";
}

.bar__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--color-white);
  font-family: "DM Sans";
}

.bar__arrow {
  fill: var(--color-white);
}

.header {
  padding: 20px 0;
  background-color: var(--color-light);
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  gap: 8px;
}

.header__logo-made {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo-wrap {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.header__logo-wrap::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 40px;
  height: 33px;
  background: linear-gradient(
    89.43deg,
    #f87bff 0.48%,
    #fb92cf 24.31%,
    #ffdd9b 48.21%,
    #c2f0b1 72.62%,
    #2fd8fe 99.52%
  );
  filter: blur(11px);
  z-index: 0;
}

.header__logo {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.header__logo-name {
  font-size: 14px;
}

.header__logo-framer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__link {
  color: var(--color-dark);
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.4;
}

.header__button {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px var(--color-dark);
  cursor: pointer;
}

.header__button:hover {
  background-color: transparent;
  color: var(--color-dark);
}

@keyframes cylinder-fall {
  from {
    transform: translateY(-100vw);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes star-left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes half-up {
  from {
    transform: translateY(100vw);
  }
  to {
    transform: translateY(0);
  }
}

.pathway {
  background: linear-gradient(201deg, var(--color-light) 45%, #183ec2 97%);
  min-height: 710px;
  padding: 130px 0;
  position: relative;
}

.pathway__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 42px;
  margin: 0 auto;
}

.pathway__box {
  width: 100%;
  max-width: 511px;
}

.pathway__tag {
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  width: 137px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}

.pathway__tag-text {
  font-size: 13px;
  font-weight: 500;
}

.pathway__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 29px;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  background-clip: text;
}

.pathway__text {
  font-size: 22px;
  color: var(--color-blue);
  margin-bottom: 29px;
  line-height: 1.4;
}

.pathway__button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pathway__button {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px var(--color-dark);
  cursor: pointer;
}

.pathway__button:hover {
  background-color: transparent;
  color: var(--color-dark);
}

.pathway__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
}

.pathway__link-arrow {
  fill: var(--color-dark);
}

.pathway__cylinder {
  position: absolute;
  width: 216px;
  height: 197px;
  top: 38px;
  right: 564px;
  animation: cylinder-fall 1s ease-out;
}

.pathway__star {
  position: absolute;
  right: 0;
  top: 20px;
  width: 650px;
  animation: star-left 1s ease-out;
}

.pathway__half {
  position: absolute;
  width: 230px;
  height: 230px;
  right: 10px;
  bottom: -75px;
  animation: half-up 1s ease-out;
}

.logo {
  padding: 50px 0 158px;
}

.logo__list {
  display: flex;
  justify-content: space-evenly;
}

.logo__item--acme,
.logo__item--apex {
  opacity: 0.4;
}

.logo__item--pulse,
.logo__item--quantum {
  opacity: 0.6;
}

.effective {
  position: relative;
  overflow: hidden;
  padding-bottom: 196px;
  margin-bottom: 92px;
  background: linear-gradient(
    to bottom,
    var(--color-white) 0%,
    var(--color-gradient-end) 35%
  );
}

.effective__box {
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  width: fit-content;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 2px 13px;
  white-space: nowrap;
}

.effective__tag-text {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.effective__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.11;
  letter-spacing: -0.06em;
  margin: 0 auto 20px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.effective__text {
  color: var(--color-blue);
  font-size: 22px;
  width: 535px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
}

.effective__img {
  width: 100%;

  box-shadow: 0 7px 24px #24262b;
  clip-path: inset(73px 13px 90px 80px round 8px 8px 8px 8px);
}

.effective__torus {
  position: absolute;
  top: 820px;
  left: -60px;
  width: 248px;
  pointer-events: none;
  z-index: 1;
}

.effective__features {
  display: flex;
  justify-content: space-between;
}

.effective__ecosystem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 80px;
}

.effective__goal,
.effective__secure,
.effective__custom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.effective__ecosystem-text,
.effective__goal-text,
.effective__secure-text,
.effective__custom-text {
  font-size: 16px;
  line-height: 1.4;
  width: 260px;
}

.effective__ecosyste-title,
.effective__goal-title,
.effective__secure-title,
.effective__custom-title {
  font-size: 18px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.effective__feature-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
  margin-top: auto;
}

.br {
  display: block;
}

.stream {
  padding-bottom: 175px;
}

.stream__box {
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  width: fit-content;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 2px 13px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.stream__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.11;
  letter-spacing: -0.06em;
  margin: 0 auto 20px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.stream__text {
  color: var(--color-blue);
  font-size: 22px;
  width: 535px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  letter-spacing: -0.036em;
  margin-bottom: 60px;
}

.stream__container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.stream__card {
  width: 486px;
  height: 538px;
  border-radius: 20px;
  padding: 40px 78px 170px 78px;
  box-shadow: 0 7px 24px #1b1b1b14;
  border: 1px solid rgba(34, 34, 34, 0.1);
}

.stream__cube {
  width: 330px;
  height: 330px;
  margin: 0 auto;
}

.stream__card-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: var(--color-blue);
  text-align: center;
}

.stream__card-text {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--color-blue);
  text-align: center;
}

.progress {
  padding-bottom: 138px;
}

.progress__box {
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  width: fit-content;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 2px 13px;
  white-space: nowrap;
}

.progress__tag-text {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.progress__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.11;
  letter-spacing: -0.06em;
  margin: 0 auto 20px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.progress__text {
  color: var(--color-blue);
  font-size: 22px;
  width: 535px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 40px;
}

.progress__card-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
}

.progress__subscribe-box {
  display: flex;
}

.progress__card {
  width: 351px;
  border-radius: 24px;
  border: 1px solid #eff0f6;
  padding: 40px 40px 44px 40px;
}

.progress__card--small {
  height: 508px;
}

.progress__free-subscribe {
  color: #6f6c90;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 34px;
}

.progress__price-box {
  display: flex;
  align-items: baseline;
  margin-top: 34px;
}

.progress__price {
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 34px;
}

.progress__time {
  color: #6f6c90;
  font-size: 18px;
}

.progress__button {
  background-color: var(--color-dark);
  padding: 10px 64px;
  border-radius: 10px;
  color: var(--color-white);
  border: 1px solid black;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 44px;
}

.progress__button:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.progress__points {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.progress__points p {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.4;
  font-size: 14px;
}

.progress__card--big {
  height: 728px;
}

.progress__card--pro {
  background-color: var(--color-dark);
  color: var(--color-white);
  height: 603px;
  position: relative;
}

.progress__free-subscribe {
  color: #6f6c90;
  margin-bottom: 0;
}

.progress__card--pro .progress__price {
  color: var(--color-white);
  margin-bottom: 34px;
}

.progress__card--pro .progress__time {
  color: #b3b3b3;
}

.progress__card--pro .progress__points p {
  color: var(--color-white);
}

.progress__card--pro .progress__points svg {
  fill: var(--color-white);
  stroke: currentColor;
}

.progress__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.progress__badge {
  font-size: 13px;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-image:
    linear-gradient(var(--color-dark), var(--color-dark)),
    linear-gradient(90deg, #dd7dff 0%, #e1cd86 50%, #8bcbf9 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background: linear-gradient(90deg, #dd7dff, #e1cd86, #8bcbf9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1;
  white-space: nowrap;
}

.progress__button--light {
  background-color: var(--color-white);
  color: var(--color-dark);
  border-color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 34px;
  width: 271px;
  height: 39px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.progress__button--light:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.progress__button--big {
  background-color: var(--color-dark);
  border-radius: 10px;
  color: var(--color-white);
  border: 1px solid black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 34px;
  width: 271px;
  height: 39px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.progress__button--big:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.testimonials {
  padding-bottom: 240px;
}

.testimonials__tag {
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 14px;
}

.testimonials__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.11;
  letter-spacing: -0.06em;
  margin: 0 auto 60px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.testimonials__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

.testimonials__card {
  background-color: var(--color-white);
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 7px 14px #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 7px 14px #eaeaea;
  position: relative;
}

.testimonials__text {
  color: #4b4b4b;
  font-size: 16px;
  line-height: 1.5;
}

.testimonials__author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.testimonials__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.testimonials__name {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-dark);
  line-height: 1.3;
}

.testimonials__handle {
  font-size: 14px;
  color: #6f6c90;
  line-height: 1.3;
}

.sign {
  position: relative;
  overflow: hidden;
  padding: 132px 0;
  background: linear-gradient(180deg, #ffffff 0%, #d2dcff 100%);
}

.sign .container {
  position: relative;
  z-index: 1;
}
.sign__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.11;
  letter-spacing: -0.06em;
  margin: 0 auto 24px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(180deg, #000000 0%, #001354 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sign__text {
  color: var(--color-blue);
  font-size: 16px;
  width: 446px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 40px;
}

.sign__button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sign__button {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px var(--color-dark);
  cursor: pointer;
}

.sign__button:hover {
  background-color: transparent;
  color: var(--color-dark);
}

.sign__button-box {
  display: flex;
  justify-content: center;
}

.sign__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
}

.sign__arrow {
  fill: var(--color-dark);
}

.sign__star {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 360px;
  height: auto;
  transform: translate(-20%, -50%);
  pointer-events: none;
  z-index: 3;
}

.sign__spring {
  position: absolute;
  top: 150px;
  right: 80px;
  width: 360px;
  height: auto;
  transform: translate(20%, -50%);
  pointer-events: none;
  z-index: 0;
}

.footer {
  padding: 40px 20px 48px 20px;
  background-color: var(--color-dark);
}

.footer__columns {
  display: flex;
  gap: 48px;
}

.footer__logo-wrap {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.footer__logo-wrap::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 40px;
  height: 33px;
  background: linear-gradient(
    89.43deg,
    #f87bff 0.48%,
    #fb92cf 24.31%,
    #ffdd9b 48.21%,
    #c2f0b1 72.62%,
    #2fd8fe 99.52%
  );
  filter: blur(11px);
  z-index: 0;
}

.footer__logo {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.footer__text {
  color: #bcbcbc;
  font-size: 14px;
  width: 240px;
  margin-bottom: 110px;
}

.footer__logo-company {
  display: flex;
  gap: 15px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__title {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
}

.footer__link {
  font-size: 14px;
  color: #7b7b7b;
}
